extends base

block content
  h1.dashboard__header Ofertas recientes
  h3.restaurant__title Rappi
  ul
    li.restaurant__element
      i.bx.bxs-offer
      span.restaurant__span Mostaza:
      a.restaurant__competitive.low(href="/rappi/mostaza-low") Low
      span |
      a.restaurant__competitive.medium(href="/rappi/mostaza-medium") Medium
      span |
      a.restaurant__competitive.high(href="/rappi/mostaza-high") High
      span |
      a.restaurant__competitive.high__competitive(href="/rappi/mostaza-high-competitive") High Competitive

    li.restaurant__element
      i.bx.bxs-offer
      span.restaurant__span Burger King:
      a.restaurant__competitive.low(href="/rappi/burger-king-low") Low
      span |
      a.restaurant__competitive.medium(href="/rappi/burger-king-medium") Medium
      span |
      a.restaurant__competitive.high(href="/rappi/burger-king-high") High
      span |
      a.restaurant__competitive.high__competitive(href="/rappi/burger-king-high-competitive") High Competitive

  h3.restaurant__title Pedidos Ya
  ul
    li.restaurant__element
      i.bx.bxs-offer
      span.restaurant__span Mostaza:
      a.restaurant__competitive.low(href="/pedidosya/mostaza-low") Low
      span |
      a.restaurant__competitive.medium(href="/pedidosya/mostaza-medium") Medium
      span |
      a.restaurant__competitive.high(href="/pedidosya/mostaza-high") High
      span |
      a.restaurant__competitive.high__competitive(href="/pedidosya/mostaza-high-competitive") High Competitive
    li.restaurant__element
      i.bx.bxs-offer
      span.restaurant__span Burger King:
      a.restaurant__competitive.low(href="/pedidosya/burger-king-low") Low
      span |
      a.restaurant__competitive.medium(href="/pedidosya/burger-king-medium") Medium
      span |
      a.restaurant__competitive.high(href="/pedidosya/burger-king-high") High
      span |
      a.restaurant__competitive.high__competitive(href="/pedidosya/burger-king-high-competitive") High Competitive